<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="TypeDB" value="SQLClient"/>
    <add key="pathfileconflog4net" value="C:\Dev\PAL\Codice\Motore Catasto\Motore Catasto\bin\log4net.xml"/>
    <!--*** Import Catasto ***-->
    <add key="PathDaAcquisire" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\Dati\Catasto\DaAcquisire\"/>
    <add key="PathInLavorazione" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\Dati\Catasto\InLavorazione\"/>
    <add key="PathAcquisiti" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\Dati\Catasto\Acquisiti\"/>
    <add key="PathScartati" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\Dati\Catasto\Scartati\"/>
    <!--*** Ribalta da Catasto su Verticale ***-->
    <add key="PathRibaltaDaAcquisire" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\Dati\Catasto\Ribalta\DaAcquisire\"/>
    <add key="PathRibaltaInLavorazione" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\Dati\Catasto\Ribalta\InLavorazione\"/>
    <add key="PathRibaltaAcquisiti" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\Dati\Catasto\Ribalta\Acquisiti\"/>
    <add key="PathRibaltaScartati" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\Dati\Catasto\Ribalta\Scartati\"/>
  </appSettings>
  <connectionStrings>
    <!--***PRE-PRODUZIONE OPENgovTRIBUTI RIBES***
    <add name="CatastoContext" connectionString="Data Source = 10.168.88.145\SQLEXPRESSPRE;Initial Catalog = OPENgovCATASTO_RS; persist security info=true;password=opengov;User ID=opengov" providerName="System.Data.SqlClient"></add>
    <add name="ICIContext" connectionString="Data Source = 10.168.88.145\SQLEXPRESSPRE;Initial Catalog = OPENgovICI_RS; persist security info=true;password=opengov;User ID=opengov" providerName="System.Data.SqlClient"></add>-->
    <!--***PRODUZIONE OPENgovTRIBUTI RIBES***-->
    <add name="CatastoContext" connectionString="Data Source = 192.168.14.204;Initial Catalog = OPENgovCATASTO_TRIBUTI; persist security info=true;password=$!0p3ng0v;User ID=opengov" providerName="System.Data.SqlClient"></add>
    <add name="ICIContext" connectionString="Data Source = 192.168.14.204;Initial Catalog = OPENgovICI_TRIBUTI; persist security info=true;password=$!0p3ng0v;User ID=opengov" providerName="System.Data.SqlClient"></add>
  </connectionStrings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
